.overlay {
    /* Sit on top of the page content */

    /* Full width (cover the whole page) */
    width: 100%;
    /* Full height (cover the whole page) */
    height: 100%;
    /* Stay at the top */

    /* Stay at the left */

    /* Stay at the right */

    /* Stay at the bottom */

    /* Black background with opacity */

    /* Add a pointer on hover */

    /* Use a grid for easy centering */

    /* Center vertically and horizontally */

}

.overlay::after {
    /* Add content : "X" */

    /* White text color */
    color: white;
    /* Black background color */
    background-color: black;
    /* Font family "sans-serif" */
    font-family: sans-serif;
    /* Centered text */

    /* Line height ( idem height ) */

    /* Display as a block */
    display: block;
    /* Position absolute */
    position: absolute;
    /* 1rem from the top */
    margin-top: 1rem;
    /* 1rem from the right */
    margin-right: 1rem;
    /* 2rem width */
    width: 2rem;
    /* 2rem height */
    height: 2rem;
    /* White border of 2px */
    border-color: white;
    border-width: 2px;
    /* Rounded border */
    border-radius: 10%;
}

.overlay>figure {
    /* No margin */
    /* 1rem padding */
    /* White border of 2px */
}

.overlay>figure>img {
    /* Max width 100% for responsive image */
    /* Height auto for keeping the ratio */
}

