.overlay {
    /* Sit on top of the page content */
    position: fixed;
    z-index: 5;
    /* Full width (cover the whole page) */
    width: 100%;
    /* Full height (cover the whole page) */
    height: 100%;
    /* Stay at the top */
    border-top: 0%;
    /* Stay at the left */
    border-left: 0%;
    /* Stay at the right */
    border-right: 0%;
    /* Stay at the bottom */
    border-bottom: 0%;
    /* Black background with opacity */
    background-color: black;
    opacity: 20%;
    /* Add a pointer on hover */
    cursor: pointer;
    /* Use a grid for easy centering */
    display: grid;
    /* Center vertically and horizontally */
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.overlay::after {
    /* Add content : "X" */
    content: "X";
    /* White text color */
    color: white;
    /* Black background color */
    background-color: black;
    /* Font family "sans-serif" */
    font-family: sans-serif;
    /* Centered text */
    margin-left: auto;
    margin-right: auto;
    /* Line height ( idem height ) */
    line-height: 10%;
    /* Display as a block */
    display: block;
    /* Position absolute */
    position: absolute;
    /* 1rem from the top */
    margin-top: 1rem;
    /* 1rem from the right */
    margin-right: 1rem;
    /* 2rem width */
    width: 2rem;
    /* 2rem height */
    height: 2rem;
    /* White border of 2px */
    border-color: white;
    border-width: 2px;
    /* Rounded border */
    border-radius: 10%;
}

.overlay>figure {
    /* No margin */
    margin: none;
    /* 1rem padding */
    padding: 1rem;
    /* White border of 2px */
    border-color: white;
    border-width: 2px;
}

.overlay>figure>img {
    /* Max width 100% for responsive image */
    width: 100%;
    /* Height auto for keeping the ratio */
    height: auto;
}

